.wwProj {
  background-color: rgb(248, 237, 220);
  /* background-color: "#e5e8e8"; */
}
.componentHeight {
  height: calc(100% - 80px);
}

.NavGap {
  row-gap: 15px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
  /* gap: 10px; Adjust the gap between cards as needed */

  /* width: 200px;
      height: 200px; */

  /* Display the card as a flexbox container */

  /* Align the content of the card to the center */
  /* justify-content: center; */
  /* align-items: center; */

  /* Set the overflow property to hidden to prevent the text from overflowing the card */
  /* overflow: hidden; */
}
